body {
    background-color: #000000;
    overflow: hidden;
}

main::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 80vw;

    background: linear-gradient(-233deg, rgba(0,0,0,1) 39%, rgba(0,0,0,0) 69%);
}

main .personagem {
    display: none;
    height: 100vh;
}

main .personagem.selecionado {
    display: block;
}

main .personagem .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo {
    position: absolute;
    top: 0;
    left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 450px;
    z-index: 1;
}

.conteudo .nome-personagem {
    color: #ffffff;
    font-size: 75px;
    font-family: "Secular One";
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.conteudo .descricao {
    color: #ffffff;
    font-family: "Rubik";
    line-height: 24px;
    font-size: 1.1rem;
}

.conteudo .logo {
    background-image: url("../imagens/dragon-ball-super-logo-projeto.png");
    background-size: cover;
    height: 100px;
    width: 300px;
    margin-bottom: 35px;
}

.botoes {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 180px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.botoes .botao {
    border: none;
    background: #000000;
    cursor: pointer;
    border-radius: 50%;
}

.botoes .botao img {
    border-radius: 50%;
}

.botoes .botao.selecionado {
    transform: scale(1.2);
    box-shadow: 0 0 10px #d9d9d9;
}